.check-box .box {
	-fx-background-color: white;
	-fx-border-color: grey;
	-fx-border-radius: 3px;
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.check-box:selected .box {
	-fx-background-color: #28a3f4;
}

.check-box {
	-fx-text-fill: red;
}

.slider .axis {
	-fx-tick-label-fill: black;
}

#filterManufacturer,
#showAll {
	-fx-font-weight: bold;
	-fx-background-color: #8080ff;
	-fx-background-radius: 15px;
	-fx-text-fill: white;
}

#filterManufacturer:hover,
#showAll:hover {
	-fx-font-weight: bold;
	-fx-background-color: #b3b3ff;
}

.custom-menu-item:hover,
.custom-menu-item:focused {
	-fx-text-fill: red;
	-fx-background-color: white;
}

#btnEmployeeArea,
#btnBottom {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-color: rgba(77, 77, 255, 0.8);
}

#btnEmployeeArea:hover,
#btnBottom:hover {
	-fx-font-weight: bold;
	-fx-background-color: rgba(128, 128, 255, 0.8);
}

#btnEmployeeArea:pressed,
#btnBottom:pressed,
#showAll:pressed {
	-fx-font-weight: bold;
	-fx-background-color: rgba(0, 0, 204, 0.9);
	-fx-text-fill: lightgray;
}

.context-menu {
	-fx-background-color: white;
	-fx-border-width: 0.2px;
	-fx-border-color: black;
	-fx-background-insets: 0.0, 1.0, 2.0;
	-fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
	-fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
	-fx-opacity: 0.9;
}

.button,
.menu-bar {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-color: rgba(77, 77, 255, 0);
}

#buttonTable {
	-fx-background-color: rgba(98, 33, 196, 0.50);
	-fx-background-radius: 15px;
}

.button:hover,
#buttonTable:hover {
	-fx-font-weight: bold;
	-fx-background-color: #8080ff;
}

.button:pressed,
#buttonTable:pressed {
	-fx-font-weight: bold;
	-fx-background-color: #0000cc;
	-fx-text-fill: lightgray;
}

.menu {
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#btnLogin,
#btnRegister,
#manageProfileBtn {
	-fx-font-weight: bold;
	-fx-background-color: #4d4dff;
	-fx-text-fill: white;
}

#adminMenu:hover,
#adminMenu:showing,
#loginRegister:hover,
#loginRegister:showing,
#loginRegister .menu:focused,
#menu:hover,
#menu:focused,
#btnLogin:hover,
#btnRegister:hover,
#manageProfileBtn:hover {
	-fx-font-weight: bold;
	-fx-background-color: #8080ff;
	-fx-text-fill: white;
}

#loginRegiste:pressed,
#btnLogin:pressed,
#btnRegister:pressed,
#manageProfileBtn:pressed {
	-fx-font-weight: bold;
	-fx-background-color: #0000cc;
	-fx-text-fill: lightgray;
}

.menu .label,
.menu-item .label,
#labelLogin,
#labelRegister,
#manageProfileLabel,
#labelConfirm,
#labelAlert,
#labelAdd,
#labelEdit,
#labelOrder,
#labelRestock,
#labelSave {
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#top {
	-fx-font-weight: bold;
	-fx-background-color: rgba(77, 77, 255, 0.88);
}

#right {
	-fx-background-color: rgba(255, 255, 255, 0.4);
}

#filtersMenuBar {
	-fx-background-color: rgba(255, 255, 255, 0);
}

#filterLabel,
#filterTitle,
#menu .label,
#usersLogin .label,
#labelTotalPrice {
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

#labelTotalPrice {
	-fx-font-size: 20pt;
}

#errorLogin,
#errorRegister,
#errorAdd,
#errorEdit {
	-fx-text-fill: red;
	-fx-font-weight: bold;
}

.table-view .column-header,
.table-view .column-header-background .filler {
	-fx-background-color: #6622CC;
}

.table-view .column-header .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-alignment: CENTER_LEFT;
}

.table-view {
	-fx-background-color: transparent;
}

.table-row-cell:odd {
	-fx-background-color: rgba(244, 246, 245, 0.85);
}

.table-row-cell:even {
	-fx-background-color: rgba(235, 239, 237, 0.85);
}

.table-row-cell:selected,
.table-row-cell:hover {
	-fx-background-color: #a87ce9;
	-fx-text-background-color: white;
}

.table-view .increment-button,
.table-view .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal {
	-fx-min-width: 0;
	-fx-pref-width: 0;
	-fx-max-width: 0;
	-fx-min-height: 0;
	-fx-pref-height: 0;
	-fx-max-height: 0;
}

.table-view .scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: derive( #6622CC, 80%);
	-fx-background-radius: 2em;
	-fx-border-radius: 2em;
}

.table-view .scroll-bar:vertical .thumb {
	-fx-background-color: derive( #6622CC, 90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

#login,
#register,
#manageProfile,
#add,
#edit,
#order,
#restock {
	-fx-background-image: url("../../src/images/blueBackground.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 900 506;
	-fx-background-position: center center;
	-fx-background-color: transparent;
	-fx-opacity: 0.90;
}

#manageProfileOutput,
#editOutput,
#output {
	-fx-font-weight: bold;
}

#confirm,
#alert {
	-fx-background-image: url("../../src/images/blueBackground.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 900 506;
	-fx-background-position: center center;
	-fx-background-color: transparent;
	-fx-effect: dropshadow(three-pass-box, black, 30, 1, 1, 1);
	-fx-opacity: 0.85;
}

#btnConfirm,
#btnAlert,
#btnAdd,
#btnEdit,
#btnOrder,
#btnRestock {
	-fx-font-weight: bold;
	-fx-background-color: #ff6600;
	-fx-text-fill: white;
}

#btnConfirm:hover,
#btnAlert:hover,
#btnAdd:hover,
#btnEdit:hover,
#btnOrder:hover,
#btnRestock:hover {
	-fx-font-weight: bold;
	-fx-background-color: #ff944d;
	-fx-text-fill: white;
}

#btnConfirm:pressed,
#btnAlert:pressed,
#btnAdd:pressed,
#btnEdit:pressed,
#btnOrder:pressed,
#btnRestock:pressed {
	-fx-font-weight: bold;
	-fx-background-color: #cc5200;
	-fx-text-fill: lightgray;
}

.label {
	-fx-font-weight: bold;
}

#titleEmployeeArea {
	-fx-text-fill: white;
	-fx-font-size: 28pt;
}

#numberOrders,
#numberEmployees,
#numberProducts {
	-fx-font-size: 15pt;
}
